/* normalize */

/* font-poppins */
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Noto+Sans+Limbu&family=Noto+Serif+Khojki&family=Playfair+Display&family=Poppins:wght@100;400&family=Roboto:ital,wght@0,700;0,900;1,500&display=swap');
/* font-family: 'Poppins', sans-serif; */

/* normalize */
*,
body {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

button {
    all: unset;
    cursor: pointer;
}

img {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

/* fond */
body {
    background-color: var(--color-beige);
}

/* color library */
:root {
    --color-brown: #B66B55;
    --color-beige: #F7F6F3;
    --color-green: #799988;
    --color-white: #FFFFFF;
}